@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Groovy Real Esate</h1>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            This page will show what Groovy Real Estate does and our locations.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Use the contacts page to find contact information about our employees as well as our avaliable dates.</p>
        <p>PLEASE NOTE: Users must be logged in to see this page.</p>

    </div>
    <div class="col-md-4">
        <h2>Listing</h2>
        <p>Use the listing page to find information about our current listings.</p>

    </div>
</div>